/bookChatbot/.idea/
/bookChatbot/.idea/inspectionProfiles/
/bookChatbot/.idea/bookChatbot.iml
/bookChatbot/.idea/jpa-buddy.xml
/bookChatbot/.idea/misc.xml
/bookChatbot/.idea/modules.xml
/bookChatbot/.idea/vcs.xml
/bookChatbot/.idea/workspace.xml
